bin/
*.o
/otimiza/otimiza/Debug
/otimiza/otimiza
/otimiza/.vs/otimiza/v15
/ga-airland8.txt
/ga-airland7.txt
/ga-airland6.txt
/ga-airland5.txt
/ga-airland4.txt
/ga-airland2.txt
/ga-airland13.txt
/ga-airland12.txt
/ga-airland11.txt
/ga-airland1.txt
